@charset "UTF-08";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-text: #10131c;
    --color-back: #DFEBEB ;
    
    /* font-size: 62.5%; = para ajustar a medida relativa REM de 1rem = 10px */
}

html {
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-back);
    color: var(--color-text);

    display: grid;
    place-items: center;
    height: 100vh;

    /* dysplay: grid  
    para quando tiver apenas um elemento como filho do BODY

    body/section  */
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: white;
    width: 500px;
    margin: auto;

    /* margin-top: 2.9rem; */
    padding: 2.7rem;

    border-radius: 2rem;
}

section > p#Title {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

section > div >label.radi {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

section > div.text {
    padding: 10px;
    background-color: rgba(173, 216, 230, 0.199);
    box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 3px 1px;
}

div.text > p {
    font-weight: bold;
    margin-left: 1.1rem;
    font-size: 0.7rem;
}

#textend {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 0.7rem;
}