@charset "UTF-08";



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {

    --color-back: #DFEBEB ;
}

html {
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-back);
}

section {
    background-color: white;

    margin-top: 50px;
    
}

section > h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
}

.radi {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(21, 21, 43);
}