@charset "UTF-08";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.black,
:root {
    --bg-color: rgb(27, 26, 26);
    --text-color: white;
}

.blue,
:root:has(#blue:checked) {
    --bg-color: rgb(25, 25, 192);
    --text-color: white;
}

.green,
:root:has(#green:checked) {
    --bg-color: rgb(24, 158, 24);
    --text-color: white;
}

.yellow,
:root:has(#yellow:checked) {
    --bg-color: rgb(202, 202, 44);
    --text-color: white;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

article {
    width: 30rem;
    margin: 2rem auto;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;

    list-style-type: none;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.24);
    padding: 15px;
    border-radius: 5px;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

input[type="radio"] {
    --input-color : black;
    appearance: none;
    border: 2px solid var(--input-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}     

input[type="radio"]:checked {
    background-color: var(--input-color);
}

#black {
    --input-color : black;
}

#blue {
    --input-color: blue;
}

#green {
    --input-color: green;
}

#yellow {
    --input-color: yellow;
}