@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
    --fontpadrao: Arial, Helvetica, sans-serif;
    --fontheader: 'Pacifico', cursive;
    --fontmain: 'Cookie', cursive;
}
*{
    margin: 0px;
    padding: 0px;  
}

body{
    font-family: var(--fontpadrao);
    text-align: justify;
}

header {
    background-color: black;
    padding: 30px;
    box-shadow:1px 1px 4px 1px rgba(0, 0, 0, 0.486);
}

header h1 {
    font-family: var(--fontheader);
    font-size: 60px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

header p {
    color: rgba(255, 255, 255, 0.842);
    text-align: center;
}

header p>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header p > a:hover {
    text-decoration: underline;
}

section {
    line-height: 4em;
    padding: 60px;
    margin-top: 50px;
    font-family: var(--fontmain);
}

section p {
    font-size: 45px;
}

section.frente {
    background: black url('../imagens/background0.jpg') no-repeat fixed left top;
    background-size: cover   ;
    
}

.fundo {
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    width: 380px;
}




